$white: #fff;
$white-alpha-5: rgba(255, 255, 255, 0.5);
$white-alpha-1: rgba(255, 255, 255, 0.1);
$black: #000;
$black-alpha-25: rgba(0, 0, 0, 0.25);
$black-alpha-85: rgba(0, 0, 0, 0.85);
$orange: #984d38;
$dark-blue: #181e41;
$dark-purple: #671ae4;
$light-purple: #b75cff;
