$white: hsl(0, 0%, 100%);
$white-alpha-5: hsla(0, 0%, 100%, 0.5);
$white-alpha-1: hsla(0, 0%, 100%, 0.1);
$black: hsl(0, 0%, 0%);
$black-alpha-25: hsla(0, 0%, 0%, 0.25);
$black-alpha-85: hsla(0, 0%, 0%, 0.85);
$orange: hsl(13, 46%, 41%);
$dark-blue: hsl(231, 46%, 17%);
$dark-purple: hsl(263, 80%, 50%);
$light-purple: hsl(273, 100%, 68%);
