@mixin border-radius($value) {
	border-radius: $value;
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-ms-border-radius: $value;
	-o-border-radius: $value;
}

@mixin transition($prop1, $prop2, $prop3) {
	transition: $prop1 $prop2 $prop3;
	-webkit-transition: $prop1 $prop2 $prop3;
	-moz-transition: $prop1 $prop2 $prop3;
	-ms-transition: $prop1 $prop2 $prop3;
	-o-transition: $prop1 $prop2 $prop3;
}

@mixin box-shadow($prop1, $prop2, $prop3, $prop4, $prop5) {
	box-shadow: $prop1 $prop2 $prop3 $prop4 $prop5;
	-webkit-box-shadow: $prop1 $prop2 $prop3 $prop4 $prop5;
	-moz-box-shadow: $prop1 $prop2 $prop3 $prop4 $prop5;
}

@mixin translateY($value) {
	transform: translateY($value);
	-webkit-transform: translateY($value);
	-moz-transform: translateY($value);
	-ms-transform: translateY($value);
	-o-transform: translateY($value);
}

@mixin translateYAndRotate($prop1, $prop2) {
	transform: translateY($prop1) rotate($prop2);
	-webkit-transform: translateY($prop1) rotate($prop2);
	-moz-transform: translateY($prop1) rotate($prop2);
	-ms-transform: translateY($prop1) rotate($prop2);
	-o-transform: translateY($prop1) rotate($prop2);
}

@mixin scale($value) {
	transform: scale($value);
	-webkit-transform: scale($value);
	-moz-transform: scale($value);
	-ms-transform: scale($value);
	-o-transform: scale($value);
}
