// -------------------------------COMMON-----------------------------------
@use 'colors';
@use 'fonts';
@use 'mixins';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
}

body {
	color: colors.$white;
	font-family: fonts.$poppins;
	font-weight: 500;
	background: linear-gradient(
			113.49deg,
			colors.$orange -30.3%,
			colors.$dark-blue 58.12%
		)
		no-repeat;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.button-icon {
	margin-left: 10px;
}

.intro {
	max-width: 410px;
	margin: 0 auto;
	text-align: center;

	&__title {
		font-size: 40px;
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: 10px;
	}

	&__description {
		color: colors.$white-alpha-5;
		font-size: 20px;
		margin-bottom: 40px;
	}
}

@media all and (max-width: 950px) {
	.intro {
		&__title {
			font-size: 30px;
		}

		&__description {
			font-size: 16px;
		}
	}
}

@media all and (max-width: 450px) {
	.intro {
		&__title {
			font-size: 25px;
		}

		&__description {
			font-size: 14px;
		}
	}
}

// -----------------------------SPLASH SCREEN---------------------------------
.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	background-color: colors.$black;
	font-family: fonts.$ibm;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 15px;

	@include mixins.transition(all, 0.5s, ease-in-out);

	&__title {
		font-size: 60px;
		font-weight: 700;
		letter-spacing: 5px;
	}

	&__description {
		color: colors.$white-alpha-5;
		font-size: 20px;
		letter-spacing: 15px;
		font-weight: 300;
	}
}

@media all and (max-width: 1100px) {
	.splash-screen {
		&__title {
			font-size: 50px;
		}

		&__description {
			font-size: 18px;
		}
	}
}

@media all and (max-width: 870px) {
	.splash-screen {
		&__title {
			font-size: 40px;
		}

		&__description {
			font-size: 16px;
		}
	}
}

@media all and (max-width: 680px) {
	.splash-screen {
		&__title {
			font-size: 30px;
			letter-spacing: normal;
		}

		&__description {
			font-size: 14px;
			letter-spacing: normal;
		}
	}
}

@media all and (max-width: 450px) {
	.splash-screen {
		&__title {
			font-size: 20px;
		}
	}
}

// -------------------------------MOBILE NAVBAR-----------------------------------
.mobile-navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: colors.$black-alpha-85;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include mixins.transition(all, 0.1s, ease-in-out);
	@include mixins.scale(0);

	&--active {
		@include mixins.scale(1);
	}

	&__list {
		list-style: none;
	}

	&__item {
		margin: 20px;
	}

	&__link {
		text-decoration: none;
		color: colors.$white;
		font-size: 18px;

		@include mixins.transition(all, 0.2s, ease-in-out);

		&:hover {
			color: colors.$white-alpha-5;
		}
	}

	&__search {
		display: block;
		border: none;
		outline: none;
		color: colors.$white;
		background: transparent;
		border-bottom: 1px solid colors.$white-alpha-5;
		padding: 8px 15px;
		width: calc(100vw - 60px);

		&:hover,
		&:focus {
			border-bottom-color: colors.$white;
		}
	}
}

// -------------------------------TOP BUTTON-----------------------------------
.top-button {
	position: fixed;
	z-index: 999;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	background-color: colors.$white;
	cursor: pointer;

	@include mixins.border-radius(50%);
	@include mixins.box-shadow(0, 10px, 20px, 0, colors.$black-alpha-25);
	@include mixins.transition(all, 0.2s, ease-in-out);
	@include mixins.scale(0);

	&__icon {
		color: colors.$black;
	}

	&--active {
		@include mixins.scale(1);
	}

	&:hover {
		opacity: 0.5;
	}
}

// -------------------------------HEADER-----------------------------------
.primary-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;

	&__logo {
		flex-basis: 129px;
		display: block;
		height: 25px;
		background-image: url('../assets/logo.svg');
		background-repeat: no-repeat;
	}

	&__list {
		display: flex;
		gap: 40px;
		list-style: none;
	}

	&__link {
		color: colors.$white;
		text-decoration: none;

		@include mixins.transition(all, 0.2s, ease-in-out);

		&--gradient {
			background: linear-gradient(
				214.02deg,
				colors.$light-purple 6.04%,
				colors.$dark-purple 92.95%
			);
			padding: 10px 20px;

			@include mixins.border-radius(10px);

			&:hover {
				background: colors.$black-alpha-25;
			}
		}

		&:hover {
			color: colors.$white-alpha-5;
		}
	}

	&__menu {
		display: none;
		cursor: pointer;

		&--active {
			z-index: 99999;
		}

		&--active .primary-header__bar:nth-child(2) {
			opacity: 0;
		}

		&--active .primary-header__bar:nth-child(1) {
			@include mixins.translateYAndRotate(8px, 45deg);
		}

		&--active .primary-header__bar:nth-child(3) {
			@include mixins.translateYAndRotate(-8px, -45deg);
		}
	}

	&__bar {
		display: block;
		height: 3px;
		width: 25px;
		background-color: colors.$white;
		margin: 5px auto;

		@include mixins.border-radius(10px);
		@include mixins.transition(all, 0.3s, ease-in-out);
	}
}

.form {
	position: relative;

	&__button {
		position: absolute;
		top: calc(50% - 10px);
		left: 10px;
		display: block;
		width: 20px;
		height: 20px;
		background-image: url('../assets/search.svg');
		background-repeat: no-repeat;
		background-color: transparent;
		outline: none;
		border: none;
	}

	&__input {
		width: 384px;
		background: colors.$white-alpha-1;
		outline: none;
		border: none;
		padding: 10px 40px;
		color: colors.$white;

		@include mixins.border-radius(10px);

		&::placeholder {
			color: colors.$white-alpha-5;
		}
	}
}

@media all and (max-width: 1100px) {
	.primary-header {
		&__list {
			gap: 20px;
		}

		&__link {
			&--gradient {
				padding: 8px 10px;
			}
		}
	}

	.form {
		&__input {
			width: 290px;
			font-size: 14px;
			padding: 8px 20px 8px 40px;
		}
	}
}

@media all and (max-width: 950px) {
	.primary-header {
		&__nav {
			display: none;
		}

		&__menu {
			display: block;
		}
	}

	.form {
		display: none;
	}
}

// -------------------------------MAIN-----------------------------------
.main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 110px 0;

	&__content {
		flex-basis: 490px;
	}

	&__title {
		font-size: 50px;
		font-weight: 700;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 10px;
	}

	&__description {
		font-size: 20px;
		line-height: 1.8;
		color: colors.$white-alpha-5;
		margin-top: 0;
		margin-bottom: 42px;
	}

	&__buttons {
		display: flex;
		gap: 17px;
	}

	&__button {
		text-decoration: none;
		font-size: 20px;
		color: colors.$white;
		outline: none;
		border: none;
		background-color: colors.$white-alpha-1;
		padding: 11px 20px;

		@include mixins.border-radius(10px);
		@include mixins.transition(all, 0.2s, ease-in-out);

		&:hover {
			color: colors.$black;
			background: colors.$white-alpha-5;
		}

		&--gradient {
			background: linear-gradient(
				214.02deg,
				colors.$light-purple 6.04%,
				colors.$dark-purple 92.95%
			);

			&:hover {
				color: colors.$white-alpha-5;
				background: colors.$black-alpha-25;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 70px;
		list-style: none;
		margin-top: 60px;
	}

	&__item {
		text-align: center;
		color: colors.$white-alpha-5;
		font-size: 18px;
	}

	&__numbers {
		display: block;
		color: colors.$white;
		font-weight: 700;
		font-size: 30px;
		margin-bottom: 8px;
	}

	&__gallery {
		flex-basis: calc(100% - 490px - 50px);
	}

	&__image {
		width: 100%;
	}
}

@media all and (max-width: 1100px) {
	.main {
		&__title {
			font-size: 40px;
		}

		&__description {
			font-size: 18px;
		}

		&__button {
			font-size: 18px;
		}

		&__list {
			gap: 50px;
			margin-top: 40px;
		}

		&__item {
			font-size: 16px;
		}

		&__numbers {
			font-size: 25px;
		}
	}
}

@media all and (max-width: 950px) {
	.main {
		justify-content: center;
		text-align: center;
		margin: 70px 0;

		&__buttons {
			justify-content: center;
		}

		&__list {
			justify-content: center;
		}

		&__gallery {
			display: none;
		}
	}
}

@media all and (max-width: 650px) {
	.main {
		&__title {
			font-size: 30px;
		}

		&__description {
			font-size: 16px;
		}

		&__button {
			font-size: 16px;
			padding: 8px 15px;
		}

		&__item {
			font-size: 14px;
		}

		&__numbers {
			font-size: 20px;
		}
	}
}

@media all and (max-width: 450px) {
	.main {
		&__title {
			font-size: 25px;
		}

		&__description {
			font-size: 14px;
		}

		&__buttons {
			flex-direction: column;
		}

		&__button {
			font-size: 14px;
		}

		&__list {
			gap: 20px;
		}

		&__numbers {
			font-size: 18px;
		}
	}
}

// -------------------------------LOGOS-----------------------------------
.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__image {
		height: 60px;
		max-width: 100%;
	}
}

@media all and (max-width: 1100px) {
	.logos {
		&__image {
			height: 50px;
		}
	}
}

@media all and (max-width: 950px) {
	.logos {
		justify-content: center;
		gap: 20px 40px;

		&__image {
			height: 40px;
		}
	}
}

@media all and (max-width: 550px) {
	.logos {
		&__image {
			height: 30px;
		}
	}
}

// -------------------------------FEATURED-----------------------------------
.featured {
	margin: 100px auto;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;

	&__item {
		max-width: 100%;
		padding: 26px;
		background-color: colors.$white-alpha-1;
		cursor: pointer;

		@include mixins.border-radius(10px);
		@include mixins.box-shadow(0, 5px, 10px, 0, colors.$black-alpha-25);
		@include mixins.transition(all, 0.2s, ease-in-out);

		&:hover {
			background: colors.$white-alpha-5;

			@include mixins.translateY(-10px);
		}
	}

	&__item:hover &__image {
		opacity: 0.5;
	}

	&__image {
		display: block;
		max-width: 100%;
		height: 338px;
		object-fit: cover;
		object-position: center;

		@include mixins.border-radius(10px);
		@include mixins.transition(all, 0.2s, ease-in-out);
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin-top: 26px;
		margin-bottom: 26px;
	}

	&__nickname {
		font-size: 18px;
		color: colors.$white-alpha-5;
	}

	&__author {
		font-size: 20px;
		font-weight: 700;
		margin-top: 20px;
	}

	&__bid {
		color: colors.$white-alpha-5;
		font-size: 14px;
		text-align: right;
	}

	&__price {
		display: block;
		color: colors.$white;
		font-size: 18px;
		font-weight: 700;
		margin-top: 10px;
	}

	&__button {
		position: relative;
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 20px;
		color: colors.$white;
		outline: none;
		border: none;
		background-color: colors.$white-alpha-1;
		padding: 11px 0;
		background: linear-gradient(
			214.02deg,
			colors.$light-purple 6.04%,
			colors.$dark-purple 92.95%
		);

		@include mixins.border-radius(10px);
		@include mixins.transition(all, 0.2s, ease-in-out);

		&:hover {
			background: linear-gradient(
				45deg,
				colors.$dark-purple 33%,
				colors.$light-purple 60%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

@media all and (max-width: 950px) {
	.featured {
		margin: 50px auto;
	}

	.cards {
		&__nickname {
			font-size: 16px;
		}

		&__author {
			font-size: 18px;
		}

		&__bid {
			font-size: 13px;
		}

		&__price {
			font-size: 16px;
		}

		&__button {
			font-size: 18px;
		}
	}
}

@media all and (max-width: 650px) {
	.cards {
		&__item {
			padding: 15px;
		}

		&__info {
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}

@media all and (max-width: 450px) {
	.cards {
		&__info {
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}

		&__image {
			height: 300px;
		}

		&__author {
			font-size: 16px;
		}

		&__bid {
			text-align: center;
			margin-top: 10px;
		}

		&__price {
			font-size: 15px;
		}

		&__button {
			font-size: 16px;
		}
	}
}

@media all and (max-width: 300px) {
	.cards {
		&__image {
			height: 200px;
		}
	}
}

// -------------------------------FAQ-----------------------------------
.faq {
	&__questions {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	&__item {
		width: 100%;
	}

	&__collapsible {
		width: 100%;
		color: colors.$white-alpha-5;
		font-size: 18px;
		background-color: transparent;
		text-align: left;
		padding: 20px 0;
		border: none;
		border-bottom: 1px solid colors.$white-alpha-5;
		outline: none;
		cursor: pointer;

		@include mixins.transition(all, 0.2s, ease-in-out);

		&::after {
			content: '\002B';
			color: colors.$white-alpha-5;
			float: right;

			@include mixins.transition(all, 0.2s, ease-in-out);
		}

		&:hover {
			color: colors.$white;
			border-color: colors.$white;
		}

		&:hover::after {
			color: colors.$white;
		}
	}

	&--active {
		color: colors.$white;
		border-color: colors.$white;

		&::after {
			content: '\2212';
			color: colors.$white;

			@include mixins.transition(all, 0.2s, ease-in-out);
		}
	}

	&__content {
		font-size: 15px;
		line-height: 1.5;
		margin: 20px 0;
		max-height: 0;
		overflow: hidden;

		@include mixins.transition(all, 0.2s, ease-in-out);
	}
}

@media all and (max-width: 950px) {
	.faq {
		&__collapsible {
			font-size: 16px;
		}

		&__content {
			font-size: 14px;
		}
	}
}

@media all and (max-width: 850px) {
	.faq {
		&__questions {
			flex-direction: column;
		}
	}
}

@media all and (max-width: 450px) {
	.faq {
		&__collapsible {
			font-size: 14px;
		}

		&__content {
			font-size: 12px;
		}
	}
}

// -------------------------------FOOTER-----------------------------------
.primary-footer {
	text-align: center;
	background: linear-gradient(
		214.02deg,
		colors.$light-purple 6.04%,
		colors.$dark-purple 92.95%
	);
	padding: 70px 15px;
	margin: 50px 0;

	@include mixins.border-radius(10px);

	&__title {
		font-size: 40px;
		font-weight: 700;
		max-width: 500px;
		margin: 0 auto 50px;
	}

	&__button {
		background: colors.$white-alpha-5;
		font-size: 18px;
		color: colors.$white;
		text-decoration: none;
		padding: 10px 20px;

		@include mixins.border-radius(10px);
		@include mixins.transition(all, 0.2s, ease-in-out);

		&:hover {
			color: colors.$black;
			background: colors.$white;
		}
	}
}

@media all and (max-width: 1100px) {
	.primary-footer {
		&__button {
			font-size: 16px;
		}
	}
}

@media all and (max-width: 950px) {
	.primary-footer {
		&__title {
			font-size: 30px;
		}
	}
}

@media all and (max-width: 650px) {
	.primary-footer {
		&__button {
			padding: 8px 15px;
		}
	}
}

@media all and (max-width: 450px) {
	.primary-footer {
		&__title {
			font-size: 25px;
		}

		&__button {
			font-size: 14px;
		}
	}
}

@media all and (max-width: 350px) {
	.primary-footer {
		padding: 50px 15px;
	}
}
